@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vf;
}

.hero {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.head-links {
  display: flex;
  margin-right: 15%;
  gap: 20px;
  font-size: 18px;
  color: #E5E7EB
}

.logo {
  margin-left: 15%;
  font-size: 24px;
  color: #F9FAF8;
  font-weight: bold;
}

.welcome {
  display: flex;
  justify-content: center;
  margin: 100px 15%;
  gap: 30px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.hero-main {
  margin: 0;
  font-size: 48px;
  font-weight: 1000;
  color: #F9FAF8
}

.hero-secondary {
  margin: 0;
  font-size: 18px;
  color: #E5E7EB
}

.hero-button {
  padding: 5px 30px;
  text-align: center;
  background-color: #3882F6;
  border: none;
  border-radius: 4px;
  color: #F9FAF8;
  font-size: 18px;
}