@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100vf;
}

.hero {
  background-color: #1F2937;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

.head-links {
  display: flex;
  margin-right: 15%;
  gap: 20px;
  font-size: 18px;
  color: #E5E7EB
}

.logo {
  margin-left: 15%;
  font-size: 24px;
  color: #F9FAF8;
  font-weight: 700;
}

.welcome {
  display: flex;
  justify-content: center;
  margin: 100px 15%;
  gap: 30px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.hero-main {
  margin: 0;
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8
}

.hero-secondary {
  margin: 0;
  font-size: 18px;
  color: #E5E7EB
}

.hero-button {
  padding: 5px 30px;
  text-align: center;
  background-color: #3882F6;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-size: 18px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-gallery {
  display: flex;
  gap: 60px;
  margin-bottom: 100px;;
}

.info-head {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
  margin: 50px;
}

.item-pic {
  width: 150px;
  height: 150px;
  border: 4px solid #3882F6;
  border-radius: 16px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 150px;
  text-align: center;
  color: #4b5563;
  gap: 10px;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  align-items: center;
}

.quote-text {
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  color: #1F2937;
  width: 800px;
  margin: 0;
  margin: 125px auto 0px;
}

.quote-author {
  font-size: 24px;
  font-weight: 500;
  margin: 0 0 97px 500px;
}

.cta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 100px 15%;
  background-color: #3882F6;
  padding: 50px 150px;
  border-radius: 8px;
}

.cta-text {
  display: flex;
  flex-direction: column;
}

.cta-head {
  font-size: 24px;
  margin: 0px;
  color: #ffffff
}

.cta-subtext {
  font-size: 18px;
  color: #E5E7EB;
  margin: 0px;
}

.cta-button {
  border: 2px solid #ffffff;
  padding: 4px 30px;
  background-color: #3882F6;
  color: #ffffff;
  font-size: 18px;
  border-radius: 10px;
}

.cta-button, .hero-button {
  font-weight: 700;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1F2937;
  padding: 20px;
  font-size: 18px;
  color: #ffffff
}